:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}


/* Font classes */

.subtitle {
    font-weight: 400;
    margin-bottom: .5em;
}


/* shared look for inputs + buttons */

input,
button {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: all 0.25s;
}


/* specific style for inputs */

input {
    background-color: #ffffff;
    color: #0f0f0f;
}


/* specific style for buttons */

button {
    background-color: #3b717b;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

button:hover {
    border-color: #5E0BDE;
}

button:active {
    border-color: #5E0BDE;
    background-color: #e8e8e8;
}

textarea {
    /* width: 100%; */
    font: inherit;
    color: inherit;
    /* Match input box look */
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 0.6em 1.2em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    resize: vertical;
    /* allow vertical resizing only */
    outline: none;
    /* remove default blue outline */
    transition: border-color 0.25s;
}


/* Darkmode style changes */

@media (prefers-color-scheme: dark) {
     :root {
        color: #f6f6f6;
        background-color: #171B1C;
    }
    input {
        color: #ffffff;
        background-color: #011F26;
    }
    button {
        color: #ffffff;
        background-color: #011F26;
        outline: #5E0BDE
    }
    button:active {
        background-color: #011F26;
    }
}